/* Inbox.module.css */
.inboxContainer {
    padding: 10px;
}

.emailItem {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    cursor: pointer;
    position: relative;
    max-width: 100%; /* Ensure the item fits within the container */
}

.emailItem.unread h4 {
    font-weight: bold;
}

.blueDot {
    width: 10px;
    height: 10px;
    background-color: blue;
    border-radius: 50%;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.emailDetails {
    flex-grow: 1;
    margin-left: 20px;
    overflow: hidden; /* Hide overflow */
    white-space: nowrap; /* Prevent text wrapping */
    text-overflow: ellipsis; /* Show ellipsis for overflow text */
}

.emailDetails h4 {
    margin: 0;
    font-size: 16px;
}

.emailDetails p {
    margin: 0;
    color: #666;
    overflow: hidden; /* Hide overflow */
    text-overflow: ellipsis; /* Show ellipsis */
    white-space: nowrap; /* Prevent text wrapping */
}

.emailItem small {
    color: #999;
}

/* Add styling for expanded view or hovering */
.emailItem:hover .emailDetails {
    overflow: visible; /* Show full content on hover */
    white-space: normal; /* Allow text to wrap */
}
