/* Navbar.module.css */
.navbar {
    background: rgba(169, 31, 31, 0.1) ;
    backdrop-filter: blur(10px); /* Blur effect */
    -webkit-backdrop-filter: blur(10px); /* For WebKit browsers */
    border-bottom: 1px solid rgba(87, 67, 67, 0.3); /* Light border */
    padding: 10px 20px; /* Adjust padding */
    position: fixed; /* Fixed position */
    width: 100%; /* Full width */
    top: 0; /* Top aligned */
    left: 0; /* Left aligned */
    z-index: 1000; /* Ensure it's on top of other content */
    display: flex; /* Use flexbox for layout */
    justify-content: space-between; /* Space between brand and nav items */
    align-items: center; /* Center items vertically */
    box-sizing: border-box; /* Include padding in width calculation */
     /* Prevent horizontal overflow */
}

.navbar-brand {
    color: #b61414; /* Brand color */
    font-size: 1.5rem; /* Adjust as needed */
    text-decoration: none; /* Remove underline from links */
    white-space: nowrap; /* Prevent text from wrapping */
}

.navbar-nav {
    list-style: none; /* Remove bullet points */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    display: flex; /* Use flexbox for horizontal layout */
    flex-wrap: nowrap; /* Prevent wrapping */
}

.navbar-nav .nav-item {
    margin-left: 20px !important; /* Space between nav items */
    display: flex; /* Ensure items align properly */
    align-items: center; /* Center content vertically */
    white-space: nowrap; /* Prevent text from wrapping */
}

.navbar-nav .nav-link {
    color: #000000 !important; /* Text color */
    text-decoration: none !important; /* Remove underline from links */
    padding: 10px !important; /* Add padding for clickable area */
}

.navbar-nav .nav-link:hover {
    color: rgba(125, 113, 113, 0.7); /* Slightly lighter color on hover */
}

.navbar-nav .nav-item span {
    color: #333 !important; /* Text color */
    font-size: 14px; /* Adjust font size */
    margin-left: 10px; /* Space between button and text */
}
